@charset "UTF-8";
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  box-sizing: border-box;
  width: 60vw;
  height: 40px;
  font-size: 18px;
  padding-left: 10px;
  border-width: 3px;
  border-color: darkblue;
  border-style: solid;
  border-radius: 5px;
  outline-width: 3px;
  outline-color: cyan;
}

button {
  cursor: pointer;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  border-radius: 7px;
  border-style: solid;
  border-width: 3px;
  border-color: orange;
  background-image: linear-gradient(to bottom, blue 0%, darkblue 20%);
  background-repeat: repeat-y;
  background-size: auto 80px;
  background-position-y: 0px;
  font-family: Helvetica, monospace;
  font-size: 22px;
  color: orange;
  transition-property: background-position, border-color, color;
  transition-delay: 30ms;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
button:hover {
  background-position-y: -40px;
  border-color: goldenrod;
  color: gold;
}

.flex {
  display: flex;
}
.flex-centre {
  margin: auto;
}
.flex-vertical {
  flex-direction: column;
}
.flex-align-center {
  justify-content: space-around;
}

.border {
  border: 3px solid darkblue;
}

.main {
  width: 60vw;
  margin-top: 50px;
}

.list {
  box-sizing: border-box;
  cursor: pointer;
  justify-content: space-between;
  height: 40px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 18px;
  font-family: Helvetica, monospace;
  border-radius: 3px;
}
.list-active {
  background-color: lightgreen;
}
.list-inactive {
  background-color: lightpink;
  color: dimgray;
}
.list-inactive .checkbox {
  background-color: dimgray;
  border-color: dimgray;
}
.list-inactive .checkbox::before {
  content: "";
}
.list-inactive .checkbox::after {
  color: white;
  font-size: 20px;
  content: "✓";
}
.list-inactive .todo_text {
  text-decoration: line-through;
}
.list:hover .checkbox {
  background-color: darkblue;
}
.list:hover .checkbox::before {
  content: "";
}
.list:hover .checkbox::after {
  color: white;
  font-size: 20px;
  content: "✓";
}

.checkbox, .check-del {
  box-sizing: border-box;
  margin: auto 5px;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-radius: 3px;
  border-color: darkblue;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
}

.check-del {
  background-color: dimgray;
  border-color: dimgray;
}
.check-del::before {
  content: "";
}
.check-del::after {
  color: white;
  font-size: 20px;
  content: "✓";
}

.todo_text {
  flex-direction: column;
  justify-content: center;
}

.delete {
  justify-content: space-between;
}
.delete-active {
  display: inline;
  box-sizing: border-box;
  margin: auto 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-radius: 3px;
  border-color: crimson;
  border-style: solid;
  color: crimson;
  font-size: 20px;
}
.delete-active:hover {
  color: lightpink;
  background-color: crimson;
}
.delete-inactive {
  display: none;
}

#display {
  margin-top: 50px;
  width: 60vw;
}

/*# sourceMappingURL=style.css.map */
